body {
  margin: 0;
  padding: 0;
  background-color: darkslategray;
  
}
.btn {
  width: 300px;
  font-size: 20px;
  font-weight: bolder;
}

.btnModal{
 width: 200px;
}

.modal-body{
  justify-content: center;
  align-items: center;
  background-color: black;
  text-align: center;
}

.modal-title{
  text-align: center;
  font-size: 26px;
}


a {
  text-decoration: none;
  color: black;
}

.pdf a {
  color: white;
}

.footer {
  display: flex;
  gap: 15px;
  margin-top: 60px;
}
.container-fluid {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 15px;
  width: 50%;
  background-color: white;
  border-radius: 30px;
}
.resultados{
text-align: center;
align-content: center;
align-items: center;
}
.nome_projeto {
  width: 250px;
  height: 25px;
  font-size: 15px;
}

.input-group {
  margin-top: 15px;
}

.data {
  width: 200px;
  text-align: center;
  height: 25px;
}

#inputGroup-sizing-sm {
  font-size: 15px;
  height: 25px;
}

.tabelas {
    width: 30% !important; /*Importante manter o !important rs */
    margin: 0px;
}

.tabelas th {
  font-size: 10px;
  padding: 20px; /* Espaçamento interno (dentro da célula) */
  border: 1px solid black;
}

.tabelas th::first-letter {
  text-transform: uppercase;
  
}

.tabelas td {
  font-weight: bolder;
  border: 1px solid black;
   font-size: 12px;
  color: red;
}

.row{
margin: 0;
justify-content: center;
margin-bottom: 10px;
}