body {
  margin: 0; /* Remove margens padrão do body */
  padding: 0;
  background-color: #2b2b2c;
  margin: 0;
  display: grid;
  place-items: center; /* Centraliza horizontal e verticalmente */
  min-height: 100vh;
}

.input-group {
  width: 200px;
  text-align: center;
  padding: 3px;
}

.container {
  background-color: #e6e6fa;
  height: 700px;
}

.input-group {
  width: 230px;
}
.input-group-text {
  font-size: 13px;
  font-weight: bold;
  background-color: #662d91;
  color: white;
}

.form-control {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: red;
}
.infor {
  color: white;
  font-size: 16px;
}

.form-check-label {
  font-size: 13px;
}
/*Selects */
#tipoDispositivo {
  width: 100px;
  font-weight: bolder;
}

#forma_agrupamento_condutores{
  width: 400px;
  font-weight: bolder;
  font-size: 12px;
}

label {
  color: rgb(19, 18, 18);
  font-weight: bolder;
  font-size: 14px;
  padding: 5px;
}
 #agrupamento_condutores{
  width: 100px;
  font-weight: bolder;
 }

#selectCondutores {
  width: 250px;
  font-weight: bolder;
}

#ambiente{ 
  width: 200px;
  font-weight: bolder;
}
#temperatura_Ambiente{
 width: 100px;
  font-weight: bolder;
}

#temperatura_Ambiente_solo{
 width: 100px;
  font-weight: bolder;
}

#isolamento{
 width: 150px;
  font-weight: bolder;
}
select {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
}
.select {
  height: 200px;
}

option {
  font-weight: bolder;
}

option:hover {
  font-size: 20px;
  background-color: #0d6efd;
  color: white;
}

.btn {
  width: 220px;
}

.buttons {
  width: 900px;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  height: 50px;
}

#btnprojeto {
  font-size: 16px;
  color: white;
}

#calcular {
  background-color: #662d91;
  color: white;
}

#salvar {
  background-color: #e6e6fa;
  color: black;
  border-color: black;
}

#novoprojeto{
  background-color: #662d91;
  color: white;
}

#projeto{
 background-color: #e6e6fa;
  color: black;
  border-color: black;
}
.AB1 {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/img/img\ a1\ b1.png");
  justify-content: center;
}

.B2C {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/img/image\ b2\ a\ c.png");
  justify-content: center;
}

.C {
  background-repeat: no-repeat;

  background-size: contain;
  background-image: url("/img/C.png");
  justify-content: center;
}

.CEF {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/img/C\ E\ D.png");
  justify-content: center;
}

.modal-content {
  height: 500px;
  width: 500px;
  margin-left: auto; /* aqui */
  margin-right: auto; /* e aqui */
}

a {
  text-decoration: none;
}
.callmodal {
  font-size: 16px;
  text-decoration: none;
  color: black;
}
.callmodal:hover {
  color: white;
}

.row {
  margin: 0;
  margin: 0 auto;
}

.inputs {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;
  margin-top: 20px; /* Centraliza verticalmente */
}

.buttons {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;
}

.inputs .callmodal {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 300px;
  background-color: #662d91;
}
